<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Forecasting in action!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"
            integrity="sha512-rKFvwjvE4liWPlFnvH4ZhRDfNZ9FOpdkD/BU5gAIA3VS3vOQrQ5BjKgbO3kxebKhHdHcNUHLqxQYSoxee9UwgA=="
            crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg shadow navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="#">TForecasting</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/model/configuration">Configuration</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Graphics</a>
            </li>
        </ul>
    </div>
</nav>
<div class="row shadow-sm bg-white rounded m-3">
    <div class="col-9 p-3">
        <form id="show-form">
            <div class="form-inline">
                <div class="col-3 form-group">
                    <label class="col-form-label mr-2" for="schemas">Schema</label>
                    <select class="form-control" id="schemas">
                    </select>
                </div>
                <div class="col-4 form-group">
                    <label class="col-form-label mr-2" for="tables">Table</label>
                    <select class="form-control" id="tables">
                    </select>
                </div>
                <div class="col-2 form-group">
                    <label class="col-form-label mr-2" for="qtypes">Query</label>
                    <select class="form-control" id="qtypes">
                        <option value="SELECT">select</option>
                        <option value="INSERT">insert</option>
                        <option value="UPDATE">update</option>
                        <option value="DELETE">delete</option>
                    </select>
                </div>
                <button type="submit" id="show-button" class="btn btn-primary">Show</button>
            </div>
        </form>
    </div>
    <div class="col-3 p-3">
        <form id="predict-form">
            <div class="form-inline">
                <div class="col-6 form-group">
                    <label class="col-form-label mr-2" for="period">Period</label>
                    <select class="form-control" id="period">
                        <option value="1h">1 hour</option>
                        <option value="3h">3 hour</option>
                        <option value="6h">6 hour</option>
                        <option value="12h">12 hour</option>
                        <option value="1d">1 day</option>
                        <option value="3d">3 day</option>
                        <option value="7d">7 day</option>
                        <option value="14d">14 day</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-secondary">Predict</button>
            </div>
        </form>
    </div>
</div>
<div class="shadow-sm m-3">
    <canvas id="chart" width="600" height="300"></canvas>
</div>

<script>

    window.addEventListener("load", function () {
        const form = document.getElementById('show-form');
        console.log('load listener')
        form.addEventListener('submit', e => sendData(e));
        const predictForm = document.getElementById('predict-form');
        predictForm.addEventListener('submit', e => startPrediction(e));
        fillData();
        const schemaSelect = document.getElementById('schemas');
        schemaSelect.addEventListener('change', fillTables);
    });

    async function fillData() {
        try {
            const response = await fetch('/database/schema');
            const data = await response.text();
            const schemas = data.substr(1, data.length - 2).split(',');
            for (let i = 0; i < schemas.length; i++) {
                schemas[i] = schemas[i].substr(1, schemas[i].length - 2);
            }
            console.log(schemas);
            const schemasElem = document.getElementById('schemas');
            schemas.forEach(function (item) {
                const newOption = document.createElement("option");
                newOption.text = item.toString();
                newOption.value = item.toString();
                schemasElem.add(newOption)
            });
            await fillTables();
        } catch (err) {
            console.log(err)
        }
    }

    async function fillTables() {
        const schemasElem = document.getElementById('schemas');
        const selected = schemasElem.value;
        const response = await fetch('/database/schema?schema=' + selected);
        const data = await response.text();
        const tables = data.substr(1, data.length - 2).split(',');
        for (let i = 0; i < tables.length; i++) {
            tables[i] = tables[i].substr(1, tables[i].length - 2);
        }
        console.log(tables);
        const tablesElem = document.getElementById('tables');
        tablesElem.options.length = 0;
        tables.forEach(function (item) {
            const newOption = document.createElement("option");
            newOption.text = item.toString();
            newOption.value = item.toString();
            tablesElem.add(newOption)
        });
    }

    function sendData(event) {
        console.log('send data function');
        event.preventDefault();
        chartIt();
    }

    function startPrediction(event) {
        console.log('send prediction request');
        event.preventDefault();
        makePrediction();
    }

    async function chartIt() {
        const data = await getData();
        const existingChart = window.myCharts === undefined ? undefined : window.myCharts[0];
        if (existingChart !== undefined) {
            existingChart.config.data.datasets[0].data = data.ys;
            existingChart.config.data.datasets[1].data = data.yhat;
            //existingChart.config.data.datasets[2].data = data.yhatLower;
            //existingChart.config.data.datasets[3].data = data.yhatUpper;
            existingChart.config.data.labels = data.xs;
            existingChart.update();
        } else {
            const canvas = document.getElementById('chart');
            const ctx = canvas.getContext('2d');
            const config = {
                type: 'line',
                axis: 'x',
                responsive: true,
                maintainAspectRatio: true,
                data: {
                    labels: data.xs,
                    datasets: [{
                        label: 'Load of table by select queries',
                        data: data.ys,
                        fill: false,
                        backgroundColor: 'rgba(54, 162, 235, 0.2)',
                        borderColor: 'rgba(54, 162, 235, 1)',
                        borderWidth: 1
                    }, {
                        label: 'Prediction value',
                        data: data.yhat,
                        fill: false,
                        backgroundColor: 'rgba(246, 71, 71, 0.5)',
                        borderColor: 'rgba(246, 71, 71, 1)',
                        borderWidth: 1
                    }, {% comment %}{
                        label: 'Y lower',
                        data: data.yhatLower,
                        fill: false,
                        backgroundColor: 'rgba(6,6,19,0.5)',
                        borderColor: 'rgba(6,6,19,1)'
                    }, {
                        label: 'Y upper',
                        data: data.yhatUpper,
                        fill: false,
                        backgroundColor: 'rgba(31,31,224,0.5)',
                        borderColor: 'rgba(31,31,224,0.8)'
                    }{% endcomment %}]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                callback: function (value, index, values) {
                                    return value;
                                }
                            }
                        }]
                    }
                }
            }
            const myChart = new Chart(ctx, config);
            window.myCharts = [myChart];
            console.log("Created chart");
        }
    }

    async function getData() {
        const xs = []
        let ys = []
        const yhat = []
        const yhatLower = []
        const yhatUpper = []

        const schema = document.getElementById('schemas').value;
        const tableName = document.getElementById('tables').value;
        const queryType = document.getElementById('qtypes').value;
        //const response = await fetch('forecast?schemaName=' + schema + '&tableName=' + tableName + '&queryType=' + queryType);
        const response = await fetch('forecast/result?schemaName=' + schema + '&tableName=' + tableName + '&queryType=' + queryType);
        const data = await response.text();

        const result = Papa.parse(data, {
            "delimiter": ",",
            "newline": "\n",
            "header": true
        });

        result.data.forEach(row => {
            xs.push(row.ds);
            ys.push(row.value);
            if (row.yhat !== undefined) {
                yhat.push(row.yhat);
            }
            if (row.yhat_lower !== undefined) {
                yhatLower.push(row.yhat_lower);
            }
            if (row.yhat_upper !== undefined) {
                yhatUpper.push(row.yhat_upper);
            }
        });
        console.log("xs array size = ", xs.length);
        console.log(result.meta);
        ys = ys.filter(function (value, index, arr) {
            return value !== '0.0';
        });
        return {xs, ys, yhat, yhatLower, yhatUpper}
    }

    async function makePrediction() {
        const schema = document.getElementById('schemas').value;
        const tableName = document.getElementById('tables').value;
        const queryType = document.getElementById('qtypes').value;
        const period = document.getElementById('period').value;
        const response = await fetch('forecast?schemaName=' + schema + '&tableName=' + tableName + '&queryType=' + queryType + '&period=' + period);
        const status = response.status;
        if (status >= 200 || status < 300) {
            document.getElementById('show-button').click();
        }
    }
</script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>